# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven build output
target/

# IDE configuration files
.idea/
*.iml
*.iws
.classpath
.project
.settings/

# VS Code specific
.vscode/
!/.vscode/launch.json
!/.vscode/tasks.json

# Operating System Files
.DS_Store
Thumbs.db

# Miscellaneous
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
hs_err_pid*
.fttemplates/
diagrams/

*.docx
*.md
*.pdf


# Node.js / Frontend
node_modules/
build/
.pnp.*
